.banner-preview {
    max-width: 500px;
}

.banner-content-table {
    background-color: transparent !important;
}

.banner-content-tr {
    background-color:transparent !important;
}

.banner-content-td {
    padding-top: 0 !important;
}

.banner-content-container {
    max-width: 250px;
}

.banner-content-brand {
    width: 45%;
}

.banner-content-category {
    padding-left: 5px;
    width: 55%;
}

.banner-content-percentage {
    width: 50px;
}