.banner-preview {
    max-width: 500px;
}

.banner-content-table {
    background-color: transparent !important;
}

.banner-content-tr {
    background-color:transparent !important;
}

.banner-content-td {
    padding-top: 0 !important;
}