// Here you can add other styles
.right-aligned{
  text-align: right;
}

.center-aligned{
  text-align: center;
}

.tooltiped{
  text-decoration: underline;
}

.entity-form-controls>div{
  margin-bottom: 1rem;
}

.page-item.active{
  z-index: 0;
}

.green a {
  color: #28a745 !important;
  //font-weight: bold;
}

.api-form-filters > div {
  margin-bottom: 10px;
}

.list-without-decoration {
  list-style: none;
  padding-left: 0;
}
